<nav class="page-sidebar" data-pages="sidebar">
    <div class="sidebar-header">
        <img src="assets/img/logo.png" alt="logo" class="brand" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
    </div>
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-10">

                @{
                    if (ViewData["Dashboard"] != null && (bool)ViewData["Dashboard"] == true)
                    {
                        <a href="#" class="detailed">
                            <span class="title">Dashboard</span>
                            <span class="details">12 New Updates</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Dashboard" class="detailed">
                            <span class="title">Dashboard</span>
                            <span class="details">12 New Updates</span>
                        </a>
                    }
                }
                <span class="icon-thumbnail"><i data-feather="shield"></i></span>
            </li>
            <li class="m-t-10">
                @{
                    if (ViewData["Calendar"] != null && (bool)ViewData["Calendar"] == true)
                    {
                        <a href="#" class="detailed">
                            <span class="title">Calendar</span>
                            <span class="details">6 New appointments</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Calendar" class="detailed">
                            <span class="title">Calendar</span>
                            <span class="details">6 New appointments</span>
                        </a>
                    }
                }

                <span class="icon-thumbnail"><i data-feather="calendar"></i></span>
            </li>
            <li class="">
                <a href="javascript:;">
                    <span class="title">Cadastros</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i data-feather="menu"></i></span>
                <ul class="sub-menu">
                    <li id="menuAppointment">
                        <a href="javascript:;">Agendamento</a>
                        <span class="icon-thumbnail">A</span>
                    </li>
                    <li id="menuAttendance">
                        <a href="javascript:;">Atendimento</a>
                        <span class="icon-thumbnail">A</span>
                    </li>
                    <li id="menuEmployee">
                        <a href="javascript:;">Funcionário</a>
                        <span class="icon-thumbnail">F</span>
                    </li>
                    <li id="menuPatient">
                        <a href="javascript:;">Paciente</a>
                        <span class="icon-thumbnail">P</span>
                    </li>
                </ul>
            </li>


        </ul>
        <div class="clearfix"></div>
    </div>
</nav>
