@{
    Layout = "_LayoutFullHeight";
    ViewData["Title"] = "Calendar";
    ViewData["Calendar"] = true;
}
<div id="myCalendar" class="full-height"></div>
<partial name="AppointmentRegisterPartial" />
<partial name="AttendanceRegisterPartial" />
<partial name="EmployeeRegisterPartial" />
<partial name="PatientRegisterPartial" />

@section scripts {
<script src="~/js/ts/Calendar.js"></script>
<script src="~/js/core/appointment.js"></script>
<script src="~/js/core/attendance.js"></script>
<script src="~/js/core/employee.js"></script>
<script src="~/js/core/patient.js"></script>
}