<div class="modal fade slide-right" id="modalPatientRegisterPartial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
        <div class="modal-content table-block">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
            <div class="modal-body v-align-middle text-center   ">
                <h5 class="text-primary ">Before you <span class="semi-bold">proceed</span>, REGISTRO DE PACIENTE</h5>
                <br>

                    <form role="form">

                        <div class="form-group form-group-default ">
                            <label>Project</label>
                            <input type="email" class="form-control" required>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>First name</label>
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Last name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group-default">
                            <label>Password</label>
                            <input type="password" class="form-control" required>
                        </div>

                        <div class="form-group form-group-default">
                            <label>Placeholder</label>
                            <input type="email" class="form-control" placeholder="ex: some@example.com" required>
                        </div>

                        <div class="form-group form-group-default disabled">
                            <label>Disabled</label>
                            <input type="email" class="form-control" value="You can put anything here" disabled>
                        </div>
                    </form>
                    <div class="row g-3">
                        <div class="col-sm-7">
                            <input type="text" class="form-control" placeholder="City" aria-label="City">
                        </div>
                        <div class="col-sm">
                            <input type="text" class="form-control" placeholder="State" aria-label="State">
                        </div>
                        <div class="col-sm">
                            <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
                        </div>
                    </div>

                    <br />

                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
